/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */
img,
picture {
  // max-height: 100%;

  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-white: 0, 0%, 98%;
  --clr-gray: 0, 0%, 41%;
  --clr-black: 0, 0%, 8%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-sans-serif: "Epilogue", sans-serif;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.margin-left {
  margin-left: var(--mleft, 0.3rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.text-white {
  color: hsl(var(--clr-white));
}
.text-gray {
  color: hsl(var(--clr-gray));
}
.text-black {
  color: hsl(var(--clr-black));
}

.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.uppercase {
  text-transform: uppercase;
}

.bg-white {
  color: hsl(var(--clr-white));
}
.bg-gray {
  color: hsl(var(--clr-gray));
}
.bg-black {
  color: hsl(var(--clr-black));
}

/* ------------------- */
/* General             */
/* ------------------- */

body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-gray));
  // background-color: hsl(var(--clr-black));
  line-height: 1.5;
  min-height: 100vh;
}

.grid {
  display: grid;
  /* margin-bottom: 9.6rem; */
}

/* ------------------- */
/* Header              */
/* ------------------- */

.primary-header {
  align-items: center;
  margin-top: 0.5rem;
}

.logo {
  margin: 1.9rem clamp(1.5rem, 5vw, 3.5rem) 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
  list-style: none;
  --gap: clamp(1.5rem, 5vw, 4rem);
  align-items: center;
  padding-inline-start: 0;

  a {
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: hsl(var(--clr-black));
  }

  img {
    cursor: pointer;
  }
}

.arrow-allign {
  align-items: center;
  flex-shrink: 0;
  --gap: 0.3rem;
}

.user-buttons {
  list-style: none;
  margin-left: auto;
  margin-right: 5rem;
  padding-inline-start: 0;
  align-items: center;
  --gap: clamp(1.5rem, 5vw, 4rem);
}

.user-buttons a {
  text-decoration: none;
}

.user-buttons a:hover,
.user-buttons a:active {
  color: hsl(var(--clr-black));
}

.register {
  border: solid 2px hsl(var(--clr-gray));
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
}

.register:hover,
.register:active {
  border: solid 2px hsl(var(--clr-black));
  color: hsl(var(--clr-black));
}

// @media (max-width: 35rem) {
//   .primary-navigation {
//   }
// }

/* ------------------- */
/* Main desktop        */
/* ------------------- */

@media (min-width: 60.5em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 5rem);
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 45rem) minmax(0, 45rem) minmax(
        1rem,
        1fr
      );
    margin-top: 3rem;
    height: 80vh;
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .title {
    font-weight: 700;
    font-size: var(--fs-800);
    line-height: 1.1;
  }

  .hero-image {
    height: 80vh;
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
  }

  .nav-user-buttons {
    // align-content: space-between;
    width: 100%;
  }
}

.hero-section {
  flex-direction: column;
  margin-top: 8rem;
  align-items: flex-start;
  justify-content: space-evenly;
}

.hero-section p {
  width: 30rem;
}

.p-btn {
  flex-direction: column;
  align-items: flex-start;
  --gap: 2rem;
}

.learn-more {
  text-decoration: none;
  padding: 0.9rem 2rem;
  border: 2px solid hsl(var(--clr-black));
  border-radius: 16px;
  background-color: hsl(var(--clr-black));
  transition: all 0.3s;
}

.learn-more:hover,
.learn-more:active {
  background-color: transparent;
  color: hsl(var(--clr-black));
  border: 2px solid hsl(var(--clr-black));
}

.title {
  font-weight: 700;
  font-size: var(--fs-800);
  line-height: 1.1;
}

.logo-clients {
  --gap: 4rem;
}

.logo-clients img {
  max-height: 75%;
}
