/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */
img,
picture {
  // max-height: 100%;

  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-white: 0, 0%, 98%;
  --clr-gray: 0, 0%, 41%;
  --clr-black: 0, 0%, 8%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 2.2rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-sans-serif: "Epilogue", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 5rem;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.margin-left {
  margin-left: var(--mleft, 0.2rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.text-white {
  color: hsl(var(--clr-white));
}
.text-gray {
  color: hsl(var(--clr-gray));
}
.text-black {
  color: hsl(var(--clr-black));
}

.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.uppercase {
  text-transform: uppercase;
}

.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-gray {
  background-color: hsl(var(--clr-gray));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}

body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-gray));
  // background-color: hsl(var(--clr-black));
  line-height: 1.5;
  min-height: 100vh;
}

/* ------------------- */
/* Header              */
/* ------------------- */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  padding-top: 0.5rem;
}

.primary-navigation {
  width: 100%;
  justify-content: space-between;
}

.menu {
  list-style: none;
  padding-inline-start: 0;
  align-items: center;
  --gap: clamp(1.5rem, 5vw, 3.5rem);
}

.menu li {
  align-items: center;
  --gap: 0.5rem;
}

.menu img {
  height: 100%;
}

.menu a {
  text-decoration: none;
  color: hsl(var(--clr-gray));
}

.user-buttons {
  margin-right: 5rem;
}

.menu a:hover,
.menu a:active {
  color: hsl(var(--clr-black));
}

.register {
  border: solid 2px hsl(var(--clr-gray));
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
}

.register:hover,
.register:active {
  border: solid 2px hsl(var(--clr-black));
  color: hsl(var(--clr-black));
}

.mobile-nav-toggle {
  display: none;
}

.menu-btn {
  display: none;
}

/* ------------------- */
/* Dropdown            */
/* ------------------- */

/* ------------------- */
/* Mobile nav          */
/* ------------------- */

@media (max-width: 70em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 60vw;
    flex-direction: column;
    top: 0;
    right: 0;
    align-items: start;
    padding: min(17rem, 12vh) 2rem;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
    align-items: start;
  }

  .menu a {
    font-size: var(--fs-400);
  }

  .menu img {
    height: 30%;
  }

  .user-buttons {
    // margin-right: 0;
    align-items: center;
    width: 100%;
  }

  .register {
    padding: 0.75rem 3rem;
  }

  .mobile-nav-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transition: transform 3s ease;
  }

  /* BURGER BUTTON */
  .menu-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2000;
    right: 1.5rem;
    top: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0;
    padding: 0;
  }

  .menu-btn__burger {
    width: 45px;
    height: 3px;
    background: hsl(var(--clr-black));
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 3px;
    background: hsl(var(--clr-black));
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateX(-22px) translateY(-10px);
  }

  .menu-btn__burger::after {
    transform: translateX(-22px) translateY(10px);
  }

  /* BURGER BUTTON ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(18px, -18px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(18px, 18px);
  }
}

/* ------------------- */
/* MAIN                */
/* ------------------- */

.main-content {
  justify-content: center;
  flex-direction: column;
}

.hero-image {
  margin-top: 0.5rem;
  width: 100%;
}

.hero-section {
  margin-top: 2.5rem;
  padding: 0 1rem;
  flex-direction: column;
  text-align: center;
  --gap: 1.2rem;
}

.title {
  font-weight: 700;
}

.learn-more {
  align-self: center;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  border: 2px solid hsl(var(--clr-black));
  border-radius: 16px;
  transition: all 0.3s;
}

.learn-more:hover,
.learn-more:active {
  background-color: transparent;
  color: hsl(var(--clr-black));
  border: 2px solid hsl(var(--clr-black));
}

.logo-clients {
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  --gap: 1.4rem;
  margin-bottom: 6rem;
}

.logo-clients img {
  width: 4.2rem;
}

.break {
  display: none;
}

@media (min-width: 35em) {
  .logo-clients img {
    width: 7.5rem;
  }

  .hero-section {
    --gap: 2rem;
  }

  .learn-more {
    padding: 1rem 2rem;
  }
}

@media (min-width: 70em) {
  .primary-header {
    position: fixed;
    width: 100%;
  }

  .main-content {
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --gap: 10rem;
    padding-inline: 3rem;
  }

  .hero-section {
    order: 1;
  }

  .hero-image {
    order: 2;
    max-width: 32rem;
  }

  .hero-section {
    align-items: flex-start;
    flex-basis: 25rem;
    justify-content: center;

    // --gap: 5rem;
    height: 75%;

    p,
    h1 {
      text-align: left;
    }

    p {
      max-width: 30rem;
    }
  }

  .learn-more {
    align-self: start;
  }

  .break {
    display: block;
  }

  .logo-clients {
    margin-bottom: 0;
    justify-items: flex-end;
  }
}
